.burger-button {
  position: fixed;
  width: 40px;
  height: 24px;
  left: 10px;

  button {
    width: 40px;
    height: 24px;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;

    div {
      border: 2px solid orange;
      margin-bottom: 5px;
    }
  }
}

.list-card {
  width: 200px;
  height: 300px;
  top: 15px;
  left: 12px;
  position: relative;
  border: 1px solid #ffffff;
  display: flex;
  filter: drop-shadow(2px 4px 6px gray);
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
  background: #ffffff;
  border-radius: 10px;

  a {
    color: #2f3640;
    text-decoration: none;
    font-size: 1.22rem;
    font-weight: 500;
    padding: 10px 10px;

    &:active {
      background: white;
    }
  }

  &::before {
    content: "";
    position: absolute;
    border-width: 20px;
    top: -40px;
    left: 4px;
    border-style: solid;
    border-bottom-color: #ffffff;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
  }
}