.link-style {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.active-link {
    background: white;
    color: orange;
    padding: 10px;
    border-radius: 8px 0 0 8px;
    font-weight: 550;
}

.side-profile-card {
    background: #2f3640;
    height: 100%;
    margin-bottom: 12px;
}