.burger-menu-list {
    position: absolute;
    z-index: 5;
    right: 0;
    list-style-type: none;
    margin: 5px 5px;
    cursor: pointer;

    .list-margin {
        margin: 5px 5px;
    }

    .burger-menu-icon {
        background: #ffa830;
        width: 35px;
        height: 4px;
    }
}

.type-second {
    top: 12px
}

.type-third {
    top: 24px
}

.drawer-state-delay {
    transition: transform 0.3s ease-in;
}

.menu-open {
    transform: translateX(0%);
}

.menu-close {
    transform: translateX(-80%);
}