/* Header */

.home-header-box {
    width: 100%;
    height: 450px;
    background-image: url('../../Assets/sign-in-page.jpg');
    background-position: center;
    background-size: cover;
    // position: absolute;
    // z-index: 1;
    opacity: 0.5;
}

.header-qoutes {
    position: absolute;
    top: 40%;
    right: 50%;
    z-index: 3;
    font-size: 3rem;
    transform: translate(-20%, -50%);

    h4,
    h5 {
        color: #2f3640;
    }
}

.header-qoutes-button {
    margin-top: 12px;
    position: absolute;
    z-index: 3;
    top: 50%;
    right: 58%;
    transform: translate(-50%, 50%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-items: center;

    button {
        color: #2f3640;
        background: #ffa830;
        border: 1px solid #ffa830;
        padding: 10px;
        font-size: 1.11rem;
        outline: none;
        cursor: pointer;
        font-weight: 500;

        &:hover {
            background: #2f3640;
            color: #ffa830;
            border: 1px solid #2f3640;
        }
    }
}

.countdown {
    display: flex;
    margin-top: 50px;
    position: absolute;
    right: 5%;
    top: 20%;
    z-index: 3;

    div {
        position: relative;
        width: 100px;
        height: 100px;
        line-height: 100px;
        text-align: center;
        background-color: rgba(47, 54, 64, 0.8);
        color: #fff;
        font-size: 3rem;
        font-weight: 500;
        margin: 0 12px;

        &:before {
            content: '';
            position: absolute;
            bottom: -40px;
            left: 0;
            width: 100%;
            height: 40px;
            background: rgba(255, 168, 46, 0.8);
            color: #2f3640;
            font-size: 1rem;
            line-height: 35px;
            font-weight: 300;
        }

        &#day:before {
            content: 'Days';
        }

        &#hour:before {
            content: 'Hours';
        }

        &#minute:before {
            content: 'Minutes';
        }

        &#second:before {
            content: 'Seconds';
        }
    }
}

/* body */

.member-card-header {
    margin: 8px auto;
    text-align: center;
    color: #2f3640;
    width: 25%;
    height: 37px;
    display: flex;
    font-weight: 400;
    justify-content: center;
    align-items: center;

    span {
        margin-left: 15px;
    }
}

.premium-card-section {
    width: 100%;
    // height: 40%;
    margin: 16px auto;
    display: grid;
    grid-template-columns: 3fr 3fr 3fr;
    justify-items: center;

    .premium-card {
        border: 1px solid #c5c4c4;
        width: 60%;
        height: 380px;
        box-shadow: 2px 2px 2px #eee;
        transition: transform 0.3s ease-in;
        transform: scale(1);
        overflow: hidden;

        &:hover {
            transform: scale(1.05);
            box-shadow: 4px 4px 4px #eee;
        }

        .lifetime-premium {
            transform: rotateZ(-45deg);
            position: absolute;
            top: 21px;
            left: -25px;
            padding: 1px;
            width: 42%;
            text-align: center;
            background: #fcb857;
            color: #2f3640;
        }

        .read-more-button {
            color: #565d65;
            background: #fcb857;
            outline: none;
            border: 1px solid #fcb857;
            padding: 10px;
            margin: 20px;
            font-size: 1.04rem;
            cursor: pointer;

            &:hover {
                color: #fcb857;
                border: 1px solid #565d65;
                background-color: #565d65;
            }
        }

        .premium-about-text {
            margin: 20px;
        }

        &.card-middle {
            position: relative;
        }

        &.card-middle::before {
            content: '';
            position: absolute;
            bottom: 0;
            background-color: #fcb857;
            width: 100%;
            height: 2px;
        }

    }
}


.cities-section {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr;
    justify-items: center;

    img {
        transform: scale(1);
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.03);
            filter: drop-shadow(2px 4px 6px black);
            -webkit-filter: drop-shadow(2px 4px 6px black);
        }
    }

    .section-image-description {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: #fff;
        font-size: 1.2rem;
        background: #fcb857c2;
        padding: 8px;
        font-weight: 400;
    }
}

.food-section {
    width: 63%;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    overflow: hidden;
    margin: auto;

    .food-joint-section {
        display: grid;
        grid-template-columns: repeat(9, 1fr);
        grid-gap: 10px;
        justify-items: center;
        transition: transform 0.2s ease-in-out;
        padding: 16px;
    }

    .section-image-description {
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%, -50%);
        color: #fff;
        font-size: 0.8rem;
        background: #fcb857e3;
        padding: 8px;
        font-weight: bolder;
        width: 125px;
        text-align: center
    }

    img {
        filter: contrast(0.5);
        -webkit-filter: contrast(0.5);
    }

    .image-display-block {
        display: flex;
        justify-content: space-around;
        margin-bottom: 15px;


        .image-display-btn {
            background: #ffa50082;
            padding: 12px;
            text-align: center;
            border: none;
            border-radius: 50%;
            width: 50px;
            font-size: 1.3rem;
            outline: none;
            color: #2f3640;
            cursor: pointer;

            &:disabled {
                background: #9c9c9c;
                color: #fff;
            }
        }
    }
}

.testimonials {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 5px;
    justify-items: center;
    margin: 20px 0 40px 0;

    .testimonials-card {
        width: 300px;
        margin: 12px;
        border: 1px solid #c5c5c5;
        padding: 12px;
        display: flex;
        flex-direction: column;
        align-items: center;

        img {
            border-radius: 50%;
            width: 150px;
            height: 150px;
        }
    }

    .testimonial-text {
        position: relative;
        width: 250px;
        text-align: justify;
    }
}

.home-page-footer {
    background: #2f3640;
    color: white;

    div {
        display: flex;
        justify-content: space-around;
        align-items: center;

        .footer-icon li {
            border-radius: 50%;
            background: #fcb857;
            width: 40px;
            height: 40px;
            text-align: center;
            margin-right: 15px;

            &:hover {
                color: #2f3640;
            }
        }

        ul {
            display: flex;
            list-style-type: none;
            justify-content: center;
            margin-top: 12px;

            li {
                padding: 11px;

                &:hover {
                    color: #fcb857;
                }
            }
        }
    }

    .footer-copyright {
        padding: 20px;
        color: #fcb857;
    }
}